.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  
    &__imagem {
      width: 88%;
      img {
        width: 100%;
        height: 340px;
        border-radius: 16px;
      }
      position: relative;
    }
}